/*Logo*/
.brand {
    float: left;
}
/* Navbar styling */
.nav {
      border-bottom: 1px solid #EAEAE8;
      text-align: right;
      height: 70px;
      line-height: 70px;
      border-bottom: solid red;
  }

  .menu {
      margin: 0 30px 0 0;

  }
/* Menu items */
  .menu a {
      clear: right;
      font-weight: bold;
      text-decoration: none;
      color: red;
      margin: 0 10px;
      line-height: 70px;
  }

  .menu a:hover {
      color: black;
      font-weight: bold;
      cursor: pointer;
  }

  label {
      margin: 0 40px 0 0;
      font-size: 26px;
      line-height: 70px;
      display: none;
      width: 26px;
      float: right;
  }
  /* Hamburger icon */
  #toggle {
      display: none;
  }
/* Media Query for Navbar */
  @media (max-width: 800px){
    label {
      display: block;
      cursor: pointer;

  }

  .menu {
      text-align: center;
      width: 100%;
      display: none;
  }

  .menu a {
      display: block;
      background-color: red;
      border-bottom: 1px solid black;
      margin: 0;
      position: relative;
      z-index: 2;
      color: black;

  }

  .menu a:hover {
      font-weight: bold;
      cursor: pointer;
  }

  .toggle {
      color: red;
  }

  #toggle:checked + .menu {
      display: block;
  }
  }
/* End of Navbar Styling */


/* Body */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Image Slideshow styling */

/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Contact us Paragraph Styling */
#aboutus {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Lobster, sans-serif;
}

.header {
    text-decoration: underline;
}

.program {
    text-decoration: none;
}
/*Media Query for Contact us Paragraph*/
@media (max-width:800px) {
     #aboutus {
     text-align: center;
  }
      .header {
      font-size: 22px;
  }

  .program {
      font-size: 12px;
  }
}

/* End of Contact us Paragraph Styling */

/* Footer Styling */
footer {
    width: 100%;;
    height: auto;
    border-top: solid red;
}

/* Google Maps */
#google-map {
    margin-bottom: 0;
    padding: 20px;
}
/* Social Media Icons */
ul.share-buttons{
  list-style: none;
  padding: 0;
  text-align: center;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Contact Information */
.social-icons p{
    color: black;
    text-align: center;
    font-size: 14px;
    margin-bottom: -10px;
    font-weight: bold;
}

/*Media query for Contact Information*/
@media (max-width: 800px) {
     .social-icons p {
      font-size: 12px;
  }

  #homepage {
      width: auto;
  }
}

/*End of Footer Styling*/

/*Schedule Styling*/
#schedule {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  min-width: 800px;
  background: #f5f5f5;
}
/*Media Query for Schedule*/
@media (max-width: 800px) {
 #schedule table .time {
    display: none;
  }

  .event {
      font-size: 10px;
  }

  .time {
      font-size: 8px;
  }

  footer {
      width: 800px;
  }

}

/*Schedule header*/
summary {
  padding-bottom: 0.25em;
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
  padding-top: 20px;
}

/*Rows on calendar*/
#schedule tr {
  position: relative;
}

/*Days of the Week*/
#schedule th {
  text-align: right;
  color: black;
  font-weight: bold;
  font-size: 0.85em;
}

/*Each day*/
#schedule td {
  width: 14.285714286%;
}

.date {
  text-align: right;
  display: block;
  height: 0;
  font-size: 0.8em;
  padding: 0.25em;
  padding-bottom: 73%;
  position: relative;
  border-bottom: 1px solid #dedbdb;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
tr:first-child:not(.current-week) .date {
  border-top: 1px solid #dedbdb;
}
.date ul,
.date li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #333;
}
.date ul {
  text-align: left;
  font-size: 0.9em;
  width: 100%;
  overflow: hidden;
  position: absolute;
  font-weight: normal;
}
.date li {
  color: #222;
  width: 100%;
  height: 1.4em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
}
.date li:before {
  content: '\2022';
  color: inherit;
  display: inline-block;
  padding-right: 0.25em;
}

/*Time of Event*/
.time {
  float: right;
  text-align: right;
  color: red;
  font-weight: bold;
}

/*Events*/
.event {
  color: red;
  font-weight: bold;
}
/*Week before current week*/
.previous-week .date {
  border: none;
}

/*Current week*/
.current-week {
  border-top: 4px solid red;
}

/*Weekend*/
.weekend {
  background-clip: padding-box;
  background: gray;
}
/*End of Schedule Styling*/

/*Roster and Stats Table Styling*/
#roster {
    width: 80%;
    padding-bottom: 20px;
    padding-top: 20px;
}

#roster table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    opacity: 0.75;
}

#roster th, td
{
    padding: 10px;
    text-align: center;
}

#roster th {
    background-color: black;
    color: white;
}

#roster tr:nth-child(even) {
    background-color: #e8e8e8;

}

#roster tr:nth-child(odd) {
    background-color: white;
}

#header {
    background-color: red;
    color: white;
}

/*Media query for Roster and Stats Table*/
@media (max-width: 800px) {
     #roster {
      max-width: 300px;
  }

}

/*End of Roster and Stats Table Styling*/

/*Contact Form Styling*/

/*Form*/
#contact-form {
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrapper {
    width: 400px;
    padding: 30px;;
    background: lightgrey;
    margin: 0px auto;
    border: solid;
    border-color: red;
}

/*Header*/
h2 {
    text-transform: uppercase;
    color: red;
}
/*Contact within 24 hours message*/
.wrapper p {
    color: #222;
    font-weight: bold;
}

/*Text fields and Textarea*/
.wrapper input[type= text],
.wrapper input[type=email],
textarea {
    width:100%;
    margin-bottom: 15px;
    padding: 5px;
}

/*Submit Button*/
#button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*Media query for Contact Form*/
@media (max-width: 800px) {
     .wrapper {
      max-width: 300px;
  }

}

/*End of Contact Form Styling*/
